@if(@Data is not null)
{
    <p style="font-size: xx-large;">@Text</p>
}
else
{
    <p style="font-size: xx-large">!?</p>
}

@code {
    [Parameter]
    public RespacedLetter? Data { get; set; } = null;

    public string Letter => Data?.Letter ?? "!";

    public string Type => Data?.Type.ToString()[..1] ?? "?";

    public string Text => Data?.Type switch
    {
        LetterType.Unigram => $"〈{Data!.Letter}〉",
        LetterType.Prefix  => $"《{Data!.Letter} ",
        LetterType.Suffix  => $" {Data!.Letter}》",
        _ => "!?!"
    };
}
