@page "/naibbe"
@using gnc.gui.Components

<h3>Naibbe</h3>

<button class="btn btn-primary voynich" @onclick="DoStuff">&#xff401;&#xff410;&#xff400;&#xff408;&#xff408;&#xff407;</button>

<p>@plaintext</p>
<ol>
@foreach((RespacedLetter letter, string latin, string voynich) in glossedText)
{
    <gnc.gui.Components.VoynichGloss RespacedLetter=@letter LatinText=@latin VoynichText=@voynich/> 
}
</ol>

@code {

    private string plaintext = "the quick brown fox jumped over the lazy dog";
    private List<(RespacedLetter letter, string latin, string voynich)> glossedText = [];

    private async Task DoStuff() {        
        glossedText.Clear();
        NaibbeCipher cipher = await NaibbeCipher.MakeDefault(@"C:\Users\dninemfive\Documents\workspaces\misc\Naibbe\data");

        foreach (RespacedLetter letter in cipher.Prepare(plaintext))
            foreach (string ciphertext in cipher.Encipher(letter))
                glossedText.Add((letter, ciphertext, OrderedDictionaryEncoder.VoynichEveEncoder.Encode(ciphertext)));
    }
}
