<p>
    <label for="UnigramProportion">Unigram Proportion</label>
    <input id="UnigramProportion" type="number" min="0" max="1" step="0.05" @bind-value="Respacer.UnigramProportion" />
    <details>
        <summary>?</summary>
        This is the proportion of unigrams in the <dfn id="respaced" title="respaced"/> text. After <dfn id="normalization" title="normalizing"/> the text
    </details>
</p>

@code {
    [Parameter]
    public required SimplifiedRespacer Respacer { get; set; }
}